<li>
    {% with view_len=view|length %}
    <a href="{{ url }}" class="is-drawer-close:tooltip is-drawer-close:tooltip-right
        {% if request.resolver_match.view_name == view %}
            bg-primary text-primary-content font-semibold
        {% elif view != 'notebook:index' and request.resolver_match.view_name|slice:view_len == view %}
            bg-primary text-primary-content font-semibold
        {% else %}
            hover:bg-base-200
        {% endif %}
    "
        data-tip="{{ label }}">
        {{ slot }}

        <span class="is-drawer-close:hidden">{{ label }}</span>
    </a>
    {% endwith %}
</li>