{% extends "notebook/layout.html" %}


{% block title %}Payment Bodies{% endblock %}

{% block navtitle %}Payment Bodies{% endblock %}

{% block content %}
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 px-4 py-8 items-start">
    <div class="card card-border bg-base-100 shadow-lg lg:col-span-2 w-full">
        <div class="card-body">
            <h2 class="card-title">Payment Bodies</h2>
            <c-table :headers="table_headers" :rows="table_rows"
                empty_message="No payment bodies found. Add one using the form on the right." />
        </div>
    </div>

    <c-form :form="form" action="" class="w-full" title="Update Payment Body Details" submit_text="Update" />
    <div class="card card-border border-error/30 bg-error/5 shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-error text-base font-bold">Danger Zone</h2>
            <p class="text-sm text-base-content/70 mb-2">Once you delete an payment body, it cannot be undone.</p>

            <c-delete-button :url="{% url 'notebook:pymt_bodies_delete' paymentbody.pk %}" text="Delete Payment Body Permanentely" />
        </div>
    </div>
</div>
{% endblock %}